#{{ ansible_managed }}

[Unit]
Description={{ item.value.systemd_service_Unit_Description }}

{% if item.value.systemd_service_Unit_Documentation is defined %}
Documentation={{ item.value.systemd_service_Unit_Documentation }}
{% endif -%}

{% if item.value.systemd_service_Unit_Requires is defined %}
{% if item.value.systemd_service_Unit_Requires is string %}
Requires={{ item.value.systemd_service_Unit_Requires }}
{% else %}
Requires={{ item.value.systemd_service_Unit_Requires | join(",") }}
{% endif %}
{% endif -%}

{% if item.value.systemd_service_Unit_Wants is defined %}
{% if item.value.systemd_service_Unit_Wants is string %}
Wants={{ item.value.systemd_service_Unit_Wants }}
{% else %}
Wants={{ item.value.systemd_service_Unit_Wants | join(",") }}
{% endif %}
{% endif -%}

{% if item.value.systemd_service_Unit_Before is defined %}
{% if item.value.systemd_service_Unit_Before is string %}
Before={{ item.value.systemd_service_Unit_Before }}
{% else %}
Before={{ item.value.systemd_service_Unit_Before | join(",") }}
{% endif %}
{% endif -%}

{% if item.value.systemd_service_Unit_After is defined %}
{% if item.value.systemd_service_Unit_After is string %}
After={{ item.value.systemd_service_Unit_After }}
{% else %}
After={{ item.value.systemd_service_Unit_After | join(",") }}
{% endif %}
{% endif -%}

[Service]
ExecStart={{ item.value.systemd_service_Service_ExecStart }}
{% if item.value.system_service_Service_Env is defined %}
EnvironmentFile={{ systemd_service_default_dir }}/{{ item.key }}.env
{% endif %}
{% if item.value.systemd_service_Service_Type is defined %}
Type={{ item.value.systemd_service_Service_Type }}
{% endif %}

{% if item.value.systemd_service_Service_User is defined %}
User={{ item.value.systemd_service_Service_User }}
{% endif -%}
{% if item.value.systemd_service_Service_User is defined %}
Group={{ item.value.systemd_service_Service_User }}
{% endif -%}

{% if item.value.systemd_service_ExecReload is defined %}
ExecReload={{ item.value.systemd_service_ExecReload }}
{% endif -%}

{% if item.value.systemd_service_Service_ExecStop is defined %}
ExecStop={{ item.value.systemd_service_Service_ExecStop }}
{% endif -%}

{% if item.value.systemd_service_Service_ExecStartPre is defined %}
{% if item.value.systemd_service_Service_ExecStartPre is string %}
ExecStartPre={{ item.value.systemd_service_Service_ExecStartPre }}
{% elif item.value.systemd_service_Service_ExecStartPre is iterable %}
{% for i in item.value.systemd_service_Service_ExecStartPre %}
ExecStartPre={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if item.value.systemd_service_Service_ExecStartPost is defined -%}
{% if item.value.systemd_service_Service_ExecStartPost is string -%}
ExecStartPost={{ item.value.systemd_service_Service_ExecStartPost }}
{% elif item.value.systemd_service_Service_ExecStartPost is iterable -%}
{% for i in item.value.systemd_service_Service_ExecStartPost -%}
ExecStartPost={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if item.value.systemd_service_Service_ExecStopPost is defined %}
ExecStopPost={{ item.value.systemd_service_Service_ExecStopPost }}
{% endif -%}

{% if item.value.systemd_service_Service_PIDFile is defined %}
Service_PIDFile={{ item.value.systemd_service_Service_PIDFile }}
{% endif %}
{% if item.value.systemd_service_Service_BusName is defined %}
BusName={{ item.value.systemd_service_Service_BusName }}
{% endif %}
{% if item.value.systemd_service_Service_Restart is defined %}
Restart={{ item.value.systemd_service_Service_Restart }}
{% endif %}
{% if item.value.systemd_service_Service_PrivateTmp is defined %}
Service_PrivateTmp={{ item.value.systemd_service_Service_PrivateTmp }}
{% endif -%}

{% if item.value.systemd_service_Service_RemainAfterExit is defined %}
RemainAfterExit={{item.value.systemd_service_Service_RemainAfterExit }}
{% endif %}

[Install]
{% if item.value.systemd_service_Install_WantedBy is defined %}
WantedBy={{ item.value.systemd_service_Install_WantedBy }}
{% endif -%}

{% if item.value.systemd_service_Install_RequiredBy is defined %}
RequiredBy={{ item.value.systemd_service_Install_RequiredBy }}
{% endif -%}

{% if item.value.systemd_service_Install_Also is defined %}
Also={{ item.value.systemd_service_Install_Also }}
{% endif -%}

{% if item.value.systemd_service_Install_Alias is defined %}
Alias={{ item.value.systemd_service_Install_Alias }}
{% endif %}
